body {
    font-family: 'Montserrat', sans-serif;
    background-color: #556b2f;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    color: aliceblue;
}

h1 {
    margin: auto;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}